<!-- Begin page content -->
<div class="container" style="margin-top: 50px;">
  <div class="row jeolsu">
    <div class="col-md-12">
      <ul class="nav nav-pills" id="jeolsuTab">
        <li class="active"><a href="#jeolsu-tab-8" data-toggle="tab" data-jeolsu="jeolsu-8">8절=16px</a></li>
        <li><a href="#jeolsu-tab-16" data-toggle="tab" data-jeolsu="jeolsu-16">16절=32px</a></li>
        <li><a href="#jeolsu-tab-24" data-toggle="tab" data-jeolsu="jeolsu-24">24절=48px</a></li>
        <li><a href="#jeolsu-tab-32" data-toggle="tab" data-jeolsu="jeolsu-32">32절=64px</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="jeolsu-tab-8">
          <div id="jeolsu-8"></div>
        </div>
        <div class="tab-pane" id="jeolsu-tab-16">
          <div id="jeolsu-16"></div>
        </div>
        <div class="tab-pane" id="jeolsu-tab-24">
          <div id="jeolsu-24"></div>
        </div>
        <div class="tab-pane" id="jeolsu-tab-32">
          <div id="jeolsu-32"></div>
        </div>
      </div>
    </div>
  </div>
</div>