<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Wellcome to the P2C!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content="printout print calculator">
    <meta name="author" content="shinemuphy@gmail.com">
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->
    
    <!--STYLES END-->
    <!-- CUSTOM STYLES-->

    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/plugins/jquery.handsontable.full.css">
    <link rel="stylesheet" href="/styles/plugins/jquery.handsontable.bootstrap.css">
    <!-- Plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->
    <!-- Plugin: animate.css (animated effects) - http://daneden.github.io/animate.css/ -->
    <link rel="stylesheet" href="/styles/plugins/animate/animate.css">
    <!-- Theme style -->
    <link href="/styles/css/theme-style.min.css" rel="stylesheet">
    <link href="/styles/plugins/jquery.bxslider.css" rel="stylesheet">
    <link href="/styles/css/custom-componnets.css" rel="stylesheet">
    
    <!-- link rel="stylesheet" href="/styles/p2c.css" -->
    <!-- link rel="stylesheet" href="/styles/theme-style.css" -->
    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <link rel="shortcut icon" href="/img/icons/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/72x72.png">
    <link rel="apple-touch-icon-precomposed" href="/img/icons/default.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>    
    <!-- CUSTOM STYLES END-->
    <!--Plugin: Retina.js (high def image replacement) - @see: http://retinajs.com/-->
    <script src="/js/lib/retina/js/retina-1.1.0.min.js"></script>
</head>

 <!-- ======== @Region: body ======== -->
<body class="page page-index-boxed page-boxed">
    <!-- ======== @Region: #navigation ======== -->
    <div id="navigation" class="wrapper">
      <!--Header upper region-->
      <!--header.upper.region.view-->
      <!--Header & Branding region-->
      <!--header.branding.region.view-->
    </div>
<!-- ======== @Region: #content ======== -->
<div id="content">
  <div id="content-wrap" class="container content-wrap">
    <div id="step-breadcums" class="wizard">
    </div>
    <div id="book_kind_choice_form_wrap" class="container content-wrap"></div>
    <div id="process-pager" class="post-to-post-pager">
        <a href="#" class="btn btn-primary previous">← 이전단계</a>
        <a href="#" class="btn btn-primary next">다음단계 →</a>
    </div>
  </div>
</div>
<div id="content1" class="container content-wrap">
<table class="table table-bordered">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> 표지</td>
      <td> 내지</td>
      <td> 엽서</td>
    </tr>
    <tr>
      <td colspan="2">품   명 :</td>
      <td colspan="4">초청장세트</td>
      <td>페이지 :</td>
      <td>2p</td>
      <td>2p</td>
      <td>0p</td>
    </tr>
    <tr>
      <td colspan="2">규   격 :</td>
      <td colspan="4">208*170</td>
      <td>작   업:</td>
      <td>7*5</td>
      <td>7*5</td>
      <td>x</td>
    </tr>
    <tr>
      <td colspan="2">수   량 :</td>
      <td colspan="4">1000부</td>
      <td>필  름:</td>
      <td>0 판</td>
      <td>0 판</td>
      <td>0 판</td>
    </tr>
    <tr>
      <td colspan="2">제   본 :</td>
      <td colspan="4">x</td>
      <td>인쇄판:</td>
      <td>8 판</td>
      <td>4 판</td>
      <td>0 판</td>
    </tr>
    <tr>
      <td colspan="2">접   지 :</td>
      <td colspan="4">1회</td>
      <td>코  팅:</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td colspan="2">재   단 :</td>
      <td colspan="4">x</td>
      <td>톰슨</td>
      <td>o</td>
      <td>o</td>
      <td>c</td>
    </tr>
    <tr>
      <td colspan="2">品  名</td>
      <td>規  格</td>
      <td>數  量</td>
      <td colspan="2">度  數</td>
      <td>單  價</td>
      <td>金    額</td>
      <td colspan="2">備   考</td>
    </tr>
    <tr>
      <td>용지대</td>
      <td>
        <div>앙상블백색</div>
      </td>
      <td>7*5</td>
      <td>0.82R</td>
      <td>R</td>
      <td></td>
      <td>  119,426 </td>
      <td>  97,929 </td>
      <td colspan="2">25%</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div> 백색</div>
      </td>
      <td>7*5</td>
      <td>0.82R</td>
      <td>R</td>
      <td></td>
      <td>  108,049 </td>
      <td>  86,439 </td>
      <td colspan="2">25%</td>
    </tr>
    <tr>
      <td></td>
      <td> x</td>
      <td>x</td>
      <td>0.00R</td>
      <td>R</td>
      <td></td>
      <td>  - </td>
      <td>  - </td>
      <td colspan="2">0%</td>
    </tr>
    <tr>
      <td></td>
      <td> x</td>
      <td>x</td>
      <td>0.00R</td>
      <td>R</td>
      <td></td>
      <td>  - </td>
      <td>  - </td>
      <td colspan="2">0%</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>소계(A)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  184,369 </td>
      <td colspan="2">용지구매대</td>
    </tr>
    <tr>
      <td> 표지</td>
      <td>필름대</td>
      <td></td>
      <td>8 판</td>
      <td>4도</td>
      <td>4도</td>
      <td>  11,500 </td>
      <td>  92,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄판</td>
      <td></td>
      <td>8 판</td>
      <td>4도</td>
      <td>4도</td>
      <td>  6,000 </td>
      <td>  48,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td>1대</td>
      <td>#ERROR!</td>
      <td>4도</td>
      <td>4도</td>
      <td>  7,875 </td>
      <td>  63,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td> 내지</td>
      <td>필름대</td>
      <td></td>
      <td>4 판</td>
      <td>4도</td>
      <td>0도</td>
      <td>  11,500 </td>
      <td>  46,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄판</td>
      <td></td>
      <td>4 판</td>
      <td>4도</td>
      <td>0도</td>
      <td>  6,000 </td>
      <td>  24,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td>4도</td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"> 혼각기1</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td>1대</td>
      <td>1.0R</td>
      <td>4도</td>
      <td>0도</td>
      <td>  7,875 </td>
      <td>  31,500 </td>
      <td colspan="2"> 혼각기2</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td>4도</td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"> 돈땡1</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td>4도</td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"> 돈땡2</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td>4도</td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"> 돈땡3</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td>4도</td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"> 돈땡4</td>
    </tr>
    <tr>
      <td> 엽서</td>
      <td>필름대</td>
      <td></td>
      <td>4 판</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄판</td>
      <td></td>
      <td>4 판</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>1.0R</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"> 혼각기</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2">돈땡</td>
    </tr>
    <tr>
      <td> 진단서</td>
      <td>필름대</td>
      <td></td>
      <td>0 판</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄판</td>
      <td></td>
      <td>0 판</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td></td>
      <td>0.0R</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2">혼각기</td>
    </tr>
    <tr>
      <td></td>
      <td>인쇄대</td>
      <td>1대</td>
      <td>0.0R</td>
      <td></td>
      <td>0도</td>
      <td></td>
      <td></td>
      <td colspan="2">돈땡</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>소계(B)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  304,500 </td>
      <td colspan="2">인쇄대</td>
    </tr>
    <tr>
      <td>후가공</td>
      <td>무선</td>
      <td></td>
      <td>0 부</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>중철</td>
      <td></td>
      <td>0 부</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>풀칠제본</td>
      <td></td>
      <td>0.0R</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>재단비</td>
      <td></td>
      <td>0.0R</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>접지비</td>
      <td></td>
      <td>1000부</td>
      <td></td>
      <td></td>
      <td>  1.5 </td>
      <td>  1,500 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>코팅비</td>
      <td></td>
      <td>0.0R</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td>톰 슨</td>
      <td></td>
      <td>2.0R</td>
      <td></td>
      <td></td>
      <td>  16,500 </td>
      <td>  33,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td rowspan="7">개별입력</td>
      <td>포장박스</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>포장비</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>목형비</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  300,000 </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>교정비</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>디자인비</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  300,000 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>택배비</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  6,000 </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>봉투가공</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  50,000 </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>소계(C)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  690,500 </td>
      <td colspan="2">제작공임대</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="s44 softmerge">
        <div>합계(A+B+C)</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  1,179,369 </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>공임비</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1.5%</td>
      <td>  17,691 </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>VAT</td>
      <td></td>
      <td></td>
      <td></td>
      <td>10%</td>
      <td>  119,706 </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>최종금액</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>  1,316,765 </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<!-- ======== @Region: #content-below ======== -->
<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="upsell">
<!--         <small class="muted">99.9% Uptime <span class="spacer">//</span> Free upgrade assistence <span class="spacer">//</span> 24/7 Support <span class="spacer">//</span> Plans from $19.99/month <span class="spacer">//</span> </small>
        <a href="pricing.htm" class="btn btn-primary">Start your Free Trial Today! <i class="fa fa-arrow-right"></i></a> -->
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->

<!-- ======== @Region: #footer ======== -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col">
        <div class="block contact-block">
          <!--@todo: replace with company contact details-->
          <h3>
            연락하기
          </h3>
          <address>
            <ul class="fa-ul">
              <li>
                <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                019223 8092344
              </li>
              <li>
                <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                shinemuphy@gmail.com
              </li>
              <li>
                <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                사무실 없음
              </li>
            </ul>
          </address>
        </div>
      </div>
      
      <div class="col-md-5 col">
        <div class="block">
          <h3>
            우리팀
          </h3>
          <p>We are making the world better place. Oh and Bae</p>
        </div>
      </div>
      
      <div class="col-md-4 col">
        <div class="block newsletter">
          <h3>
            소식받기
          </h3>
          <p>소식받기를 원하시면 메일로 연락하세요.</p>
          <!--@todo: replace with mailchimp code-->
          <form role="form">
            <div class="input-group input-group-sm">
              <label class="sr-only" for="email-field">Email</label>
              <input type="text" class="form-control" id="email-field" placeholder="Email">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div id="toplink">
        <a href="#top" class="top-link" title="Back to top">위로<i class="fa fa-chevron-up"></i></a>
      </div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="col-md-6">
          <p>Site template by <a href="appstraptheme.com">AppStrap</a> | Copyright 2012 &copy; AppStrap</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline footer-menu">
            <li><a href="#">약관</a></li>
            <li><a href="#">개인보호정책</a></li>
            <li><a href="#">연락하기</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Hidden elements - excluded from jPanel Menu on mobile-->
<div class="hidden-elements jpanel-menu-exclude">
  <!--@modal - signup modal-->
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            Sign Up
          </h4>
        </div>
        <div class="modal-body">
          <form action="signup.htm" role="form">
            <h5>
              Price Plan
            </h5>
            <select class="form-control">
              <option>Basic</option>
              <option>Pro</option>
              <option>Pro +</option>
            </select>
            
            <h5>
              Account Information
            </h5>
            <div class="form-group">
              <label class="sr-only" for="signup-first-name">First Name</label>
              <input type="text" class="form-control" id="signup-first-name" placeholder="First name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-last-name">Last Name</label>
              <input type="text" class="form-control" id="signup-last-name" placeholder="Last name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-username">Userame</label>
              <input type="text" class="form-control" id="signup-username" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-email">Email address</label>
              <input type="email" class="form-control" id="signup-email" placeholder="Email address">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-password">Password</label>
              <input type="password" class="form-control" id="signup-password" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="term">
                I agree with the Terms and Conditions. 
              </label>
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
          </form>
        </div>
        <div class="modal-footer">
          <small>Already signed up? <a href="login.htm">Login here</a>.</small>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  <!--@modal - login modal-->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            Login
          </h4>
        </div>
        <div class="modal-body">
          <form action="login.htm" role="form">
            <div class="form-group">
              <label class="sr-only" for="login-email">Email</label>
              <input type="email" id="login-email" class="form-control email" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="login-password">Password</label>
              <input type="password" id="login-password" class="form-control password" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <small>Not a member? <a href="#" class="signup">Sign up now!</a></small>
          <br />
          <small><a href="#">Forgotten password?</a></small>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <!--SCRIPTS-->
    <!--SCRIPTS END -->
    <!--CUSTOM SCRIPTS-->
    <script data-main="/js/main" src="/js/require.js"></script>
    <!--CUSTOM SCRIPTS END-->
</body>

</html>
