<!-- Begin page content -->
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-sm-3 padding-left-0">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">기본정보</h3>
		  </div>
		  <div class="panel-body">
		      <dl class="dl-horizontal">
		        <dt>품   명:</dt>
		        <dd>학원 교습소</dd>
		        <dt>규   격:</dt>
		        <dd>100*190</dd>
		        <dt>수   량:</dt>
		        <dd>5000부</dd>
		        <dt>제   본:</dt>
		        <dd>중철</dd>
		        <dt>접   지:</dt>
		        <dd>안함</dd>
		      </dl>
		  </div>
		</div>
    </div>	
    <div class="col-sm-3">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">표지</h3>
		  </div>
		  <div class="panel-body">
		      <dl class="dl-horizontal">
		        <dt>페이지:</dt>
		        <dd>4p</dd>
		        <dt>작   업:</dt>
		        <dd>국전</dd>
		        <dt>필  름:</dt>
		        <dd>0 판</dd>
		        <dt>인쇄판:</dt>
		        <dd>6 판</dd>
		        <dt>코  팅:</dt>
		        <dd>미사용</dd>
		        <dt>톰슨:</dt>
		        <dd>미사용</dd>		        		        
		      </dl>
		  </div>
		</div>
    </div>
    <div class="col-sm-3">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">내지</h3>
		  </div>
		  <div class="panel-body">
		      <dl class="dl-horizontal">
		        <dt>페이지:</dt>
		        <dd>4p</dd>
		        <dt>작   업:</dt>
		        <dd>국전</dd>
		        <dt>필  름:</dt>
		        <dd>0 판</dd>
		        <dt>인쇄판:</dt>
		        <dd>6 판</dd>
		        <dt>코  팅:</dt>
		        <dd>미사용</dd>
		        <dt>톰슨:</dt>
		        <dd>미사용</dd>		        		        
		      </dl>
		  </div>
		</div>
    </div>
    <div class="col-sm-3">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">엽서</h3>
		  </div>
		  <div class="panel-body">
		      <dl class="dl-horizontal">
		        <dt>페이지:</dt>
		        <dd>4p</dd>
		        <dt>작   업:</dt>
		        <dd>국전</dd>
		        <dt>필  름:</dt>
		        <dd>0 판</dd>
		        <dt>인쇄판:</dt>
		        <dd>6 판</dd>
		        <dt>코  팅:</dt>
		        <dd>미사용</dd>
		        <dt>톰슨:</dt>
		        <dd>미사용</dd>		        		        
		      </dl>
		  </div>
		</div>
    </div>          
  </div>
</div>