<!-- Begin page content -->
<div class="container calc-result" style="margin-top: 50px;">
  <div class="row basic-input-info">
    <h5>기본 입력 정보</h5>
    <div class="col-sm-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>구분</th>
            <th>기본정보</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>품명</th>
            <td>한원 교습소</td>
          </tr>
          <tr>
            <th>규격</th>
            <td>100*190</td>
          </tr>
          <tr>
            <th>수량</th>
            <td>5000부</td>
          </tr>
          <tr>
            <th>제본</th>
            <td>중철</td>
          </tr>
          <tr>
            <th>접지</th>
            <td>x</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>구분</th>
            <th>표지</th>
            <th>내지</th>
            <th>엽서</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>페이지</th>
            <td>4p</td>
            <td>36p</td>
            <td>0p</td>
          </tr>
          <tr>
            <th>작업</th>
            <td>국전</td>
            <td>국전</td>
            <td>x</td>
          </tr>
          <tr>
            <th>인쇄판</th>
            <td>0판</td>
            <td>0판</td>
            <td>0판</td>
          </tr>
          <tr>
            <th>코팅</th>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <th>톰슨</th>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- row1 end -->
  <div class="row">
    <h5>용지 구매대</h5>
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>구분</th>
            <th>품명</th>
            <th>명세</th>
            <th>수량</th>
            <th>단위</th>
            <th>단가</th>
            <th>금액</th>
            <th>비고</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>표지</th>
            <td>150 S/W 636*939</td>
            <td>국전</td>
            <td>1.43</td>
            <td>R</td>
            <td>46,817</td>
            <td>66,984</td>
            <td>31%</td>
          </tr>
          <tr>
            <th>내지</th>
            <td>150 S/W 636*939</td>
            <td>국전</td>
            <td>1.43</td>
            <td>R</td>
            <td>46,817</td>
            <td>66,984</td>
            <td>31%</td>
          </tr>
          <tr>
            <th>엽서</th>
            <td>150 S/W 636*939</td>
            <td>국전</td>
            <td>1.43</td>
            <td>R</td>
            <td>46,817</td>
            <td>66,984</td>
            <td>31%</td>
          </tr>
          <tr>
            <th>소계</th>
            <td colspan="5"></td>
            <td>46,8170</td>
            <td></td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- row2 end -->
<!-- container -->
