<div class="block features">
  <h3 class="title-divider">
    <span>표지 <span class="de-em">수치입력</span></span>
    <small>아래 표지수치를 입력하세요.</small>
  </h3>
  <div class="row">
    <!-- Secondary features -->
    <div class="col-md-9">
      <div class="tabbable tabs-left vertical-tabs bold-tabs row">
        <ul class="nav nav-tabs nav-stacked col-sm-4 col-md-4">
          <li class="active">
            <a href="#tab1" data-toggle="tab">
              용지입력 
              <small>용지입력</small>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li class="">
            <a href="#tab2" data-toggle="tab">
              인쇄도수 입력
              <small>인쇄도수 입력</small>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li class="">
            <a href="#tab3" data-toggle="tab">
              후작업입력
              <small>후작업입력</small>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
        <div class="tab-content col-sm-8 col-md-8">
          <div class="feature tab-pane col-sm-12 col-md-12 active" id="tab1">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">수량</span>
                  <input type="text" name="book_quantity" class="form-control" value="<%= book_quantity %>" placeholder="예)3000">
                  <span class="input-group-addon">부</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">지종</span>
                  <select class="form-control" name="paper_kind">
                  <% _.each( paperkinds, function( paperkind ){ %>
                    <option value="<%- paperkind.id %>"><%- paperkind.name %></option>
                  <% }); %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">규격</span>
                  <input type="text" name="book_standard" class="form-control" value="<%= book_standard %>" placeholder="100*190">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">절수</span>
                  <input type="text" name="book_jeolsu" class="form-control" value="<%= book_jeolsu %>" placeholder="24">
                  <span class="input-group-addon">절</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">페이지</span>
                  <input type="text" name="book_page" class="form-control" placeholder="2" value="<%= book_page %>">
                  <span class="input-group-addon">P</span>
                </div>
              </div>
            </div>
          </div><!--tab1 용지 입력 end-->
          <div class="feature tab-pane col-sm-12 col-md-12" id="tab2">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">앞면</span>
                  <input type="text" name="book_front_dosoo" class="form-control" placeholder="2" value="<%= book_front_dosoo %>">
                  <span class="input-group-addon">도</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">뒤면</span>
                  <input type="text" name="book_back_dosoo" class="form-control" placeholder="2" value="<%= book_back_dosoo %>">
                  <span class="input-group-addon">도</span>
                </div>
              </div>
            </div>
          </div><!--tab2 인쇄도수 end-->
          <div class="feature tab-pane col-sm-12 col-md-12" id="tab3">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">제본방법</span>
                  <select class="form-control" name="bookbinding_method">
                    <option value="saddle_stitching" selected="selected">중철</option>
                    <option value="perfect_binding">무선</option>
                    <option value="pur">풀칠</option>
                    <option value="nonchoice">없음</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">접지</span>
                  <input type="text" name="book_fold" class="form-control" value="<%= book_fold %>"placeholder="접지횟수">
                  <span class="input-group-addon">번</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">코팅</span>
                  <select class="form-control" name="coating_nonshine">
                    <option value="saddle_stitching" selected="selected">무광</option>
                    <option value="coating_shine">유광</option>
                    <option value="nonchoice">없음</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">톰슨</span>
                  <select class="form-control" name="book_tomson">
                    <option value="no" selected="selected">미사용</option>
                    <option value="yes">사용</option>                        
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">재단</span>
                  <select class="form-control" name="book_cuttiong">
                    <option value="no" selected="selected">미사용</option>
                    <option value="yes">사용</option>                        
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon">필름</span>
                  <select class="form-control" name="book_film">
                    <option value="no" selected="selected">미사용</option>
                    <option value="yes">사용</option>
                  </select>
                </div>
              </div>
            </div>
          </div><!--tab3  end-->
        </div><!-- tabcontents -->
      </div><!-- tabbable -->
    </div><!-- col-md-9 -->
  </div><!-- row end -->
</div><!-- block end -->