body {
/*	background: #e9e9e9 url(../images/tiny_grid.png) repeat 0 0;
	font: 13px/1.7em 'Open Sans';*/
	font-family:"돋움",dotum,sans-serif;font-size:12px;font-weight:normal;
}
.input-group-addon, .form-control {
	font-family:"돋움",dotum,sans-serif;font-size:12px;font-weight:normal;
}
# footer {
	margin-top: 20px;
}

.infoTable {
	border-collapse: collapse;
	border-top: 2px solid #888;
	width: 100%;
	margin-bottom: 10px;
}

hr {
	margin-top: 0px;
	margin-bottom: 5px;
}

.paper_form_input {
	border-right: 1px solid #A55353;
	padding-right: 20px;
}

legend {
	padding: 0;
	margin-bottom: 5px;
	font-size: 14px;
	border-bottom: none;
}
fieldset {
	padding: 1px;
	margin-bottom: 0px;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
}

span.label {
	display: inline-block;
	font-weight: bold;
	line-height: 34px;
	width: 125px;
}

.form-group {
	margin-bottom: 5px;
}

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
}

.widget .widget-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
	background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

.widget .widget-content {
	padding: 20px 15px 15px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget .widget-header h3 {
	top: 2px;
	position: relative;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 600;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.padding-left-0 {
	padding-left: 0 !important;
}

.panel-body {
	padding: 5px;
}

.dl-horizontal dt {
	width: 25%;
}

.dl-horizontal dd {
	margin-left: 28%;
}

.calc-result table th {
	background-color: #efefef;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
